<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('./parts/nav.ejs') %>

    <div class="btn" ><i class="fa fa-bars" style="padding: 100%;" onclick="SliderDownUp()"></i></div>
    <div class="iphoto">
        <img src="./sm_artboard_4_oppo_fep_2025_5.png" alt="" srcset="">
    </div>
    <div class="explore">
        <h3>Catagory</h3>
        <div class="counter">
            <div class="cata">
                <img src="./698703.png" alt="" srcset="">
                <h6 class="title">Wishing Machine</h6>
            </div>
            <div class="cata">
                <img src="./428001.png" alt="" srcset="">
                <h6 class="title">Laptop</h6>
            </div>
            <div class="cata">
                <img src="./3137807.png" alt="" srcset="">
                <h6 class="title">Mobile</h6>
            </div>
            <div class="cata">
                <img src="./550486.png" alt="" srcset="">
                <h6 class="title">TV</h6>
            </div>
            <div class="cata">
                <img src="./911409.png" alt="" srcset="">
                <h6 class="title">Air Condition</h6>
            </div>
            <div class="cata">
                <img src="./395649.png" alt="" srcset="">
                <h6 class="title">Fridge</h6>
            </div>
            <div class="cata">
                <img src="./2955791.png" alt="" srcset="">
                <h6 class="title">Wishing Machine</h6>
            </div>
            <div class="cata">
                <img src="./3159543.png" alt="" srcset="">
                <h6 class="title">Screen</h6>
            </div>
        </div>
    </div>
    <div class="ads">
        <h3>Advertisements</h3>
        <div class="ads-counter">
            <div class="ad">
                <img src="./images (1).jpeg" alt="">
            </div>
            <div class="ad">
                <img src="./images (2).jpeg" alt="">
            </div>
            <div class="ad">
                <img src="./images (3).jpeg" alt="">
            </div>
            <div class="ad">
                <img src="./download (2).jpeg" alt="">
            </div>
            <div class="ad">
                <img src="./images (4).jpeg" alt="">
            </div>
            <div class="ad">
                <img src="./images (5).jpeg" alt="">
            </div>
            <div class="ad">
                <img src="./images (6).jpeg" alt="">
            </div>
            <div class="ad">
                <img src="./download (1).jpeg" alt="">
            </div>
        </div>
    </div>
    <div class="products">
        <div class="card">
            <div class="card-img">
                <img class="img" src="./redmi-pad-se-gray-p1_11zon.jpg">
            </div>
            <div class="card-title">
                Redmi Pad Se
            </div>
            <div class="card-subtitle">
                6GB RAM, 128GB Storage, Gray Color...
            </div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price">
                    12,324 <span>L.E</span>
                </div>
                <button class="card-btn"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img class="img" src="./9203241200_hi1_20220124_152928_2.jpg">
            </div>
            <div class="card-title">
                Fresh Air Condition
            </div>
            <div class="card-subtitle">
                3 Levels, 4.5 Hourses, 94cm...
            </div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price">
                    43,345 <span>L.E</span>
                </div>
                <button class="card-btn"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img class="img" src="./xiaomi_redmi_note_13_6gb_ram_128gb_-_midnight_black-1_3_1.jpg">
            </div>
            <div class="card-title">
                Redmi Note 13
            </div>
            <div class="card-subtitle">
                6GB RAM, 128GB Storage, Black Color...
            </div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price">
                    16,346 <span>L.E</span>
                </div>
                <button class="card-btn"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img class="img" src="./whatsapp_image_2023-12-12_at_11.59.52_am.jpeg">
            </div>
            <div class="card-title">
                Ultra Smart Watch
            </div>
            <div class="card-subtitle">
                8 Hours Battery, 6 Inch, Water Prot...
            </div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price">
                    3,453 <span>L.E</span>
                </div>
                <button class="card-btn"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="./tornado_ceiling_fan_56_inch_white_-_tcf56ww_1_.jpg" alt="" class="img">
            </div>
            <div class="card-title">
                Tornado Fan
            </div>
            <div class="card-subtitle">
                3 Arms, 7 Levels, Ultra Mode...
            </div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price">
                    5,403 <span>L.E</span>
                </div>
                <button class="card-btn"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="./tornado_steam_iron_2000_watt_greenblack_-_tst-2000c_2_.jpg" alt="" class="img">
            </div>
            <div class="card-title">
                Tornado Iron
            </div>
            <div class="card-subtitle">
                8 Levels, Metal, Water Storage...
            </div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price">
                    2,321 <span>L.E</span>
                </div>
                <button class="card-btn"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="./tornado-microwave-solo-25-liter-900-watt-silver-tm-25ms_1.jpg" alt="" class="img">
            </div>
            <div class="card-title">
                Tornado Microwave
            </div>
            <div class="card-subtitle">
                2000W, 6cm, AI Mode...
            </div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price">
                    7,424 <span>L.E</span>
                </div>
                <button class="card-btn"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="./twf-16.jpg" alt="" class="img">
            </div>
            <div class="card-title">
                Fresh Fan
            </div>
            <div class="card-subtitle">
                200cm, 6 levels, Ultra Mode, 3 Arms...
            </div>
            <hr class="card-divider">
            <div class="card-footer">
                <div class="card-price">
                    <span>$</span>100.34
                </div>
                <button class="card-btn"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="acounts foot">
            <h4>Acounts</h4>
        <h6>Youtube</h6>
        <h6>Facebook</h6>
        <h6>Instgram</h6>
        <h6>Tiktok</h6>
        <h6>Twitter</h6>
    </div>
        <div class="helper foot">
            <h4>Help</h4>
            <h6>FAQs</h6>
        </div>
        <div class="places foot">
            <h4>Places</h4>
            <h6>B.TECH MAX</h6>
            <h6>Store's</h6>
            <h6>B.TECH X</h6>
        </div>
        <div class="contectus foot">
            <h4>Connect Us</h4>
            <h6>B.TECH@gmail.com</h6>
            <h6>19916</h6>
        </div>
    </div>
    <div class="slider">

    </div>
</body>
<script src="./JS/all.js"></script>
<script src="./JS/script.js"></script>
</html>