<div class="navBar">
    <div class="navBusket" style="color: white; margin-right: 5px;"><i class="fa fa-shopping-cart"></i></div>
    <div class="navsearch"><input type="text" placeholder="ابحث عن المنتج"></div>
    <div class="navlogo" style="color: white;"><h3>B<span style="color: orange;">.</span>TECH</h3></div>
</div>